.container {
	display: block;
	width: 300px;
	height: 40px;
	border: 1px solid #979797;
	border-radius: 8px;
	margin-bottom: 16px;
	padding: 4px;

	&.disabled {
		opacity: .5;
		cursor: not-allowed;
	}
}

.title {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 6px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}